.pricing {
    background-color: #F5F5F5;
}
.container {
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto; 
    padding: 30px; 
}
.pricing__title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
   text-align: center;
    margin-bottom: 30px;
}
.line {
    border: 1px solid #EC7979;
    
    width: 170px;
    margin: 0 auto;
    
}
.pcicing-description__title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color:  #86878B;
    text-align: center;
    margin-top: 40px;
}
.pricing-wrap {
    display: flex;
    justify-content: space-between;
    
}
.pricing-card-basic {
    margin: 0 auto 30px;
    margin-top: 79px;
}
.pricing-card-optima {
    margin: 0 auto 30px;
    margin-top: 59px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2))
}
.pricing-card-pro {
    margin: 0 auto 30px;
    margin-top: 79px;
}
.basic {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #333333;
    background-color: #333333;
    width: 325px;
    height: 60px;
    margin-bottom: 1px;
    
}
.price {
    font-family: Raleway;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    border: 2px solid #333333;
    background-color: #333333;
    width: 325px;
    height: 100px;
    text-align: center;
    margin-bottom: 1px; 
    
}
.free-for-life {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #333333;
    background-color: #333333;
    width: 325px;
    height: 50px;
    text-align: center;

} 
.space {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 325px;
    height: 50px;
    text-align: center;
    margin-bottom: 2px;
    
}
.optima {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    border: 2px solid #333333;
    background-color: #333333;
    width: 325px;
    height: 60px;
    text-align: center;
    margin-bottom: 1px;
    
}
.pro {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    border: 2px solid #333333;
    background-color: #333333;
    width: 325px;
    height: 60px;
    text-align: center;
    margin-bottom: 1px;
   
}