$size: 20px;
$animation-function: ease-in;
$gap: 10px;
$animation-duration: 2s;

// .loader-screen {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: white;
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   z-index: 1;
// }
// .loader-screen.hidden {
//   display: none;
// }
// .loader-item {
//   width: $size;
//   height: $size;
//   border-radius: 50%;
//   position: absolute;
//   gap: $gap;
// }

// .loader-item:nth-child(1) {
//   top: 0;
//   left: 0;
//   background-color: rgb(174, 109, 238);
//   animation-name: translate-1;
//   animation-duration: $animation-duration;
//   animation-iteration-count: infinite;
//   animation-timing-function: $animation-function;
// }
// .loader-item:nth-child(2) {
//   background-color: rgb(92, 219, 166);
//   top: 0;
//   left: 30px;
//   animation-name: translate-2;
//   animation-duration: $animation-duration;
//   animation-iteration-count: infinite;
//   animation-timing-function: $animation-function;
// }
// .loader-item:nth-child(3) {
//   background-color: rgb(90, 206, 221);
//   top: 30px;
//   left: 0;
//   animation-name: translate-3;
//   animation-duration: $animation-duration;
//   animation-iteration-count: infinite;
//   animation-timing-function: $animation-function;
// }
// .loader-item:nth-child(4) {
//   background-color: plum;
//   top: 30px;
//   left: 30px;
//   animation-name: translate-4;
//   animation-duration: $animation-duration;
//   animation-iteration-count: infinite;
//   animation-timing-function: $animation-function;
// }
// .loader {
//   position: relative;
//   width: calc($size * 2 + $gap);
//   height: calc($size * 2 + $gap);
//   animation-name: rotate;
//   animation-duration: $animation-duration;
//   animation-iteration-count: infinite;
//   margin: 0 auto;
// }
// @keyframes rotate {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// @keyframes translate-1 {
//   0%,
//   100% {
//     top: 0;
//     left: 0;
//   }
//   50% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }
// @keyframes translate-2 {
//   0%,
//   100% {
//     top: 0;
//     left: 30px;
//   }
//   50% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }
// @keyframes translate-3 {
//   0%,
//   100% {
//     top: 30px;
//     left: 0;
//   }
//   50% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }
// @keyframes translate-4 {
//   0%,
//   100% {
//     top: 30px;
//     left: 30px;
//   }
//   50% {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
// }
