.pricing {
    background-color: #f5f5f5;
    padding: 50px;
  }
  .container {
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
    
  }
  .pricing__title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  .line {
    border: 1px solid #ec7979;
  
    width: 170px;
    margin: 0 auto;
  }
  .pcicing__description {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: #86878b;
    text-align: center;
    margin-top: 40px;
  }
  .pricing-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
  }
  
  .pricing-card + .pricing-card-active {
    box-shadow: rgba(51, 51, 51, 0.2);
    transform: translateY(-20px);
  }
  
  .pricing-card__basic {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    border: 2px solid #333333;
    background-color: #333333;
    margin-bottom: 1px;
    line-height: 33px;
    
  }
  .pricing-card__price {
    font-family: Raleway;
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    border: 2px solid #333333;
    background-color: #333333;
    text-align: center;
    margin-bottom: 1px;
    line-height: 42px;
  }
  .pricing-card__free-for-life {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #333333;
    background-color: #333333;
    text-align: center;
  }
  .pricing-card__space {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878b;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 2px;
  }
  .pricing-card__optima {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    border: 2px solid #333333;
    background-color: #333333;
    text-align: center;
    margin-bottom: 1px;
  }
  .pricing-card__pro {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
    border: 2px solid #333333;
    background-color: #333333;
    text-align: center;
    margin-bottom: 1px;
  }
  .icon-button__image img {
      width: 100%;
      height: 100%;
  }