.seasons-shoes-wrap {
  padding-top: 52px;
  padding-bottom: 134px;
}

.seasons-shoes__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #212a2f;
  text-align: center;
  margin-bottom: 54px;
}
.seasons-shoes__decription {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #212a2f;
  margin-bottom: 47px;
  text-align: center;
}
.seasons-shoes-links__item {
  display: inline-block;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #212a2f;
  border: 2px solid #212a2f;
  border-radius: 2px;
  padding: 15px 46px;
}
.seasons-shoes-links {
  text-align: center;
  margin-bottom: 119px;
}
.seasons-shoes-links a {
  text-decoration: none;
}
.seasons-shoes-links__item:not(:last-child) {
  margin-right: 24px;
}
.collections-examples {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.collections-example-image {
  margin-bottom: 17px;
}
.collections-example-image img {
  max-width: 100%;
  max-height: 100%;
}
.collections-example__text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #212a2f;
  margin-bottom: 10px;
}
.collections__title{
  font-family: Roboto;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
  color: #212a2f;
  margin-bottom: 24px;
}
.collections-example__description {
  max-width: 357px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #212a2f;
}
