.infotmation-list {
background-color:  #000000;
}
.axure-themes {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 32px;
}
.infotmation-list-items a {
    text-decoration: none;
}
.infotmation-list-items {
    display: flex;
    margin: auto 235px;
}
.infotmation-list-items * + * {
    margin-left: 50px;
   
}
